
body {
    background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
    /* Define altura mínima para exibir o container centralizado verticalmente */
    min-height: 100vh;
    margin: 0;
    display: flex;
    /* usa flexbox */
    align-items: center;
    /* alinha verticalmente */
    justify-content: center;
    /* alinha horizontalmente */
}

body * {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}

#container {
    position: fixed;
    top: 100px;
    /* ajusta a distância do topo */
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    padding: 0 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

#profile img {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 16px;
    /* centraliza a imagem + espaçamento embaixo */
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;


}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24 px;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: all 0.2;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;

}
#social-links {
    display: flex;
    justify-content: center;
    gap: 16px;

    padding: 24px 0;
    
    font-size: 24px;
}
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
}
#social-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    
    border-radius: 50%;
}
